<h3>Students Form</h3>

<%= form_for(@student) do |s| %>
  <label>Class Title:</label><br>
  <%= s.text_field :first_name %><br>

  <label>Room Number:</label><br>
  <%= s.text_field :last_name %><br>

  <%= s.submit %>
<% end %>