<%= form_for student_path(@student) do %>
  <label>First Name:</label><br>
  <%= text_field :first_name %><br>

  <label>Last Name: </label><br>
  <%= text_field :last_name %><br>

  <%= submit_tag "Submit Student" %>
<% end %>
