<%= form_for school_class_path(@schoolclass) do %>
  <label>Class Title:</label><br>
  <%= text_field :title %><br>

  <label>Room Number:</label><br>
  <%= text_field :room_number %><br>

  <%= submit_tag "Submit SchoolClass" %>
<% end %>
