<%= form_for schoolclass_path(@schoolclass) do %>
  <label>Post title:</label><br>
  <%= text_field :title %><br>

  <label>Post Description</label><br>
  <%= text_field :room_number %><br>

  <%= submit_tag "Submit SchoolClass" %>
<% end %>
